.popup {
  background-color: #00000096;
  max-width: 1280px;
  max-height: 100%;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: flex-start;
  padding: 123px 19px 0 19px;
}

@media screen and (min-width: 768px) {
  .popup {
    padding: 195px 425px 0 425px;
  }
}