.profile {
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: repeat(3, auto);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .profile {  
    grid-template-columns: 150px 294px 40px 400px;
  }
}