.profile__add-information {
  margin: 0 auto;
  box-sizing: border-box;
  object-fit: cover;
  width: 280px;
  height: 50px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .profile__add-information {
    margin: 25px 0;
    width: 149px;
    height: 50px;
    padding: 0;
    justify-self: end;
    border-top: 0;
    border-bottom:  0;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}

.profile__add-information:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}