.image__close {
  width: 40px;
  height: 40px;
  background-image: url("../../../images/Close_Icon.svg");
  background-size: 100%;
  position: absolute;
  top: -40px;
  right: -15px;
  overflow: visible;
  background-color: #ffffff00;
  border: none;
  box-shadow: 0;
  outline: none;
}

@media screen and (min-width: 768px) {
  .image__close {
    top: -5px;
    right: -5px;
  }
}

.image__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}