.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}